:root{
  --hintergrund-farbe-1: #31BFA6;
  --hintergrund-farbe-2: #411DA8;
  --hintergrund-farbe-3: #8B8DE4;
}
html,body{
  height: 100%;
}
body{
  background: var(--hintergrund-farbe-1) linear-gradient(var(--hintergrund-farbe-1), var(--hintergrund-farbe-2));
  font-family: "Poppins";
  padding: 55px;
  overflow: hidden;
}
.page-title{
  color: white;
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 40px;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.column{
  background-color: rgba(255,255,255, 0.3);
  padding: 5px 20px;
  border-radius: 10px;
  height: 700px
}
.column-heading{
  color: white;
  font-size: 35px;
}
.task{
  color: var(--hintergrund-farbe-3);
  background-color: rgba(255,255,255, 0.65);
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
}
.input-feld{
  color: var(--hintergrund-farbe-3);
  width: 86%;
  font-size: 16px;
  padding: 15px 10px 8px 10px;
  border-radius: 7px;
  border: none;
}
.button{
  font-size: 27px;
  color: var(--hintergrund-farbe-1);
  background-color: white;
  border-radius: 7px;
  padding: 5px 0;
  border: none;
  width: 8%;
}
.delete-button{
  border: none;
  font-weight: bold;
  color: var(--hintergrund-farbe-3);
  background-color: white;
  justify-self: end;
  border-radius: 3px;
}
.download-button{
  color: var(--hintergrund-farbe-1);
  font-family: "Poppins";
  font-weight: bold;
  background-color: white;
  font-size: 27px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 70px;
}
.header{
  display: flex;
}
